{% if paperResults %}

<table class="table table-striped">
  <tbody>
    <tr>
      <th>名称</th>
      <th>时间</th>
      <th>考生</th>
      <th>操作</th>
    </tr>

    {% for paperResult in paperResults if testpapers[paperResult.testId] is defined %}
      {% set testpaper = testpapers[paperResult.testId] %}
      {% set student = users[paperResult.userId] %}
      {% set teacher = users[paperResult.checkTeacherId]|default(null) %}
      {% set courseSet = courseSets[paperResult.courseSetId]|default(null) %}
      {% set course = courses[paperResult.courseId]|default(null) %}
      
      {% include 'my/testpaper/check-list-tr.html.twig' %}

    {% endfor %}
  </tbody>
</table>
{{ web_macro.paginator(paginator) }}

{% else %}
  {% if status == 'reviewing' %}
    <div class="empty">没有等待批阅的试卷</div>
  {% elseif status == 'finished' %}
    <div class="empty">没有批阅过试卷</div>
  {% endif %}
{% endif %}