{% extends 'bootstrap-modal-layout.html.twig' %}

{% block title %}
  作品信息
{% endblock %}

{% do script(['app/js/python-editor/work-modal/index.js']) %}
{% set hide_footer = 1 %}
{% block body %}
  <form id="work-form" method="post" action="{{ path('python_work_save') }}?projectId={{ work.projectId|default(0) }}">
    <label class="hidden-xs hidden-sm col-md-6 col-xs-6 control-label" for="subtitle">源代码</label>
    <label class="hidden-xs hidden-sm col-md-6 col-xs-6 control-label" for="subtitle">代码结果</label>

    <div class="col-md-6 hidden-xs hidden-sm">
      <textarea id="previewcode" class="col-md-6"></textarea>
    </div>

    <div class="form-group col-md-6 hidden-xs hidden-sm">
      <div id="previewcanvas"></div>
    </div>

    <div class="col-md-6 col-xs-12">
      <label class="control-label" for="subtitle">作品名</label>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="mb20">
        <input type="text" id="title" name="title" required="required" class="form-control js-courseset-title"
               value="{{ work.title|default('') }}">
        <div class="help-block" style="display:none;"></div>
      </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

    <div class="form-group col-md-6 col-xs-12">
      <div class="col-md-5 col-xs-5">
        <button type="button" class="btn cd-btn cd-btn-primary cd-btn-lg" id="save-btn"
                data-loading-text="上传中">
          保存
        </button>
      </div>
      <div class="col-md-1 col-xs-1">&nbsp;</div>
      <div class="col-md-5 col-xs-5">
        <button type="button" class="btn cd-btn cd-btn-primary cd-btn-lg" id="share-btn"
                data-loading-text="上传中">
          扫码分享
        </button>
      </div>
    </div>

  </form>
{% endblock %}