{% extends 'layout.html.twig' %}
{% do script(['app/js/courseset/show/index.js']) %}

{% set course_set = data('CourseSet', {id: course.courseSetId})|merge({'tags': 'tags'}) %}
{% set bodyClass = 'course-dashboard-page' %}


{% block full_content %}
    {% set eventReportParams = {'user-id': app.user.id|default(0)} %}
    {% include 'event_report.html.twig' with{ 'eventName':'course.view', 'subjectType':'course', 'subjectId': course.id, 'eventReportParams':eventReportParams} %}

  {% set previewAs = app.request.query.get('previewAs') %}
  {% set defaultMetas = course_show_metas(member|default(null) ? 'member' : 'guest') %}
  {% set metas = metas|default(defaultMetas) %}
  {% set route_params = app.request.attributes.get('_route_params') %}

  <div class="container cd-container mt20">
    <div class="row cd-row">
      <div class="col-lg-12 course-detail-content">

        <section class="es-section">
          <div class="h2 mb10">{{ course.courseSetTitle }}</div>

          <div class="mb20">
            <span class="h3">任课教师：</span>
            {% for teacher in teachers %}
              <span class="h3">{{ teacher.nickname }}</span>
            {% endfor %}
          </div>

          {% block detail_content %}
            {{ render(controller(metas.tabs[tab].content, {request: app.request, course: course, member: member|default(null)})) }}
          {% endblock %}
        </section>
      </div>

    </div>
  </div>
{% endblock %}
