<div class="task-list-header clearfix js-task-list-header">
  <div>
    <a class="cd-btn cd-btn-primary cd-btn-sm cd-mr16" id="step-3" href="{{ path('course_manage_task_fields',{courseId:course.id, mode: 'create', type: 'testpaper'}) }}">
      {{ '添加考试' }}
    </a>
  </div>
</div>
