{% extends 'course-manage/layout.html.twig' %}

{% do script(['app/js/course-manage/students/index.js']) %}

{% block main_heading_class %}course-main-header{% endblock %}
{% block main_heading %}
  <div class="cd-main__title">
    教师管理
  </div>

{% endblock %}

{% block main_body %}
    <div id="student-table-container" role="course-manage-student-index">
      {{ web_macro.flash_messages() }}

      <table class="table table-striped" id="course-student-list">
        <thead>
          <tr>
            <th width="17%">名字</th>
            <th width="25%">操作</th>
          </tr>
        </thead>
        <tbody>
          {% for user in teacherIds if user %}
            {# {% set user = users[teacher.userId]|default(null) %} #}
            <tr id="student-{{user.id}}-tr" class="students-item js-students-item">
              <td style="vertical-align: middle;">{{ user.nickname }}</td>
              <td style="vertical-align: middle;">
                
                {% if app.user.isAdmin() or app.user.isTeacher() %}
                  <a class="mrm link-primary" data-toggle="modal" data-target="#modal" data-url="{{ path('course_set_manage_course_teachers_add', {courseSetId:courseSet.id, courseId: course.id}) }}">修改</a>
                {% endif %}
                
              </td>
            </tr>
          {% else %}
            <tr class="empty"><td colspan="20">暂时没有教师</td></tr>
          {% endfor %}

        </tbody>
      </table>

    </div>
{% endblock %}
