<div class="panel panel-default testpaper-card-panel {% if paper.type == 'homework' %}homework-card-panel{% endif %}">
  <div class="panel-body">
    {% if paper.type == 'testpaper' %}
      <div class="testpaper-card-info">
        <span class="testpaper-card-info__text">
          试卷总分：</span>
        <span class="testpaper-card-info__number">{{ paper.score }}</span>
      </div>
      <div class="testpaper-card-info">
        <span class="testpaper-card-info__text">
          {{ 'course.testpaper_manage.analysis_card.avg_score'|trans }}</span>
        <span class="testpaper-card-info__number">{{ relatedData.avgScore }}</span>
      </div>
    {% endif %}
  </div>
</div>
