{% if question.analysis|default(0) %}
	<div class="testpaper-question-analysis js-testpaper-question-analysis">
    <div class="well mb0">
		解析：{{ question.analysis|bbCode2Html|raw }}
    </div>
	</div>
{% endif %}
